body {
    background: linear-gradient(
        #333,
        #111
    );
    overflow: hidden;
}

#carte {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.zoom {
    position: absolute;
    display: flex;
    margin-top: 44%;
    margin-left: 45%;
    width: 20%;
    height: 15vh;
    border: 4px solid black;
    border-radius: 5px;
    /* background-color: rgba(0, 0, 255, 0.2); */
    background-image: url(/illus/map_sarzeau.png);
    background-size: cover;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.zoom:hover{
    /* background-color: rgba(0, 0, 255, 0.5); */
    /* background-size: 500%; */
    top: -82%;
    left: -45%;
    width: 100%;
    height: 100%;
}

.zoom::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;                
    bottom: 0%;
    left: 0%;
    background: linear-gradient(0deg, rgb(79, 120, 255) 41%, rgba(0,212,255,0) 100%);
    z-index: -1;
    transition: 2s linear;
    border-radius: 5px;
}

.zoom::after{
    
}

#demo {
    color: tomato;
}


